body { 
    background-color: rgb(70, 175, 236);
    font: normal 15pt arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background: blue;
    border-radius: 5px;
   
    width: 50%;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.39);
}



div {
    text-align: center;
}

